<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf8">
    <meta name="description" content="The random splurtings of an idle mindlet">
    <title>{{Title}} ∴ My Blog</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <article>
      <header>
        <h1>{{Title}}</h1>
        <time datetime="{{Time}}">{{Date}}</time>
      </header>
      {{{Body}}}
    </article>
  </body>
</html>
